In [1]:
# !pip install numpy matplotlib cvxopt pandas yfinance finquant plotly cufflinks chart_studio pandas_datareader atoti atoti-jupyterlab

In [2]:
%matplotlib inline
import random

import cvxopt as opt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf
from cvxopt import blas, solvers
from finquant.portfolio import build_portfolio
from scipy.optimize import minimize

np.random.seed(123)

# Turn off progress printing
solvers.options["show_progress"] = False
import concurrent.futures
import os
import random
import urllib
import urllib.request
from concurrent.futures import ALL_COMPLETED, wait

import cufflinks
import numpy as np
import pandas_market_calendars as mcal

# (*) To communicate with Plotly's server, sign in with credentials file
import plotly as py

# (*) Useful Python/Plotly tools
import plotly.tools as tls

# (*) Graph objects to piece together plots
from plotly.graph_objs import *

import atoti as tt

Welcome to atoti 0.6.2!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [3]:
# ndays = 252*10+7
ndays = 252 * 1.5 + 7
# ~training
dback = 252
# ~forecast
dahead = 20
# sample size
# if to randomize
rand = True
nran = 20
nstocks = 100
# this should match tbill 20, 91, 126, 252

end = pd.Timestamp.utcnow()
start = end - int(ndays) * pd.tseries.offsets.BDay()
one_week_end = end - int(ndays - 7) * pd.tseries.offsets.BDay()
one_week_end = one_week_end.strftime("%Y-%m-%d")
start = start.strftime("%Y-%m-%d")
end = end.strftime("%Y-%m-%d")

In [4]:
# pd.tseries.offsets.BDay(100)
nyse = mcal.get_calendar("NYSE")

# Show available calendars
# print(mcal.get_calendar_names())
tradingDays = list(
    nyse.schedule(start_date=start, end_date=end).index.strftime("%Y-%m-%d")
)

In [5]:
def rand_weights(n):
    """Produces n random weights that sum to 1"""
    k = np.random.rand(n)
    return k / sum(k)


def weighted_return(returns, weights):
    w = weights

    p = np.asmatrix(np.mean(returns, axis=0))

    mu = np.asmatrix(w) * p.T
    return mu


def random_portfolio(returns):

    w = rand_weights(len(pd.DataFrame(returns).columns))

    p = np.asmatrix(np.mean(returns, axis=0))

    C = np.array(pd.DataFrame(returns).cov().values)

    mu = np.asmatrix(w) * p.T
    sigma = np.sqrt(np.asmatrix(w) * C * np.asmatrix(w).T)

    sharpe = mu / sigma

    return np.float(mu), np.float(sigma), np.float(sharpe), np.array(w, dtype=object)


def unique(list1):

    # intilize a null list
    unique_list = []

    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)

    return unique_list


def split_sequences(sequences, n_steps_in, n_steps_out):

    X, y = list(), list()
    for i in range(len(sequences)):
        # find the end of this pattern
        end_ix = i + n_steps_in
        out_end_ix = end_ix + n_steps_out
        # check if we are beyond the dataset
        if out_end_ix > len(sequences):
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = sequences[i:end_ix, :], sequences[end_ix:out_end_ix, :]
        X.append(seq_x)
        y.append(seq_y)

    return np.array(X), np.array(y)

In [6]:
url = "ftp://ftp.nasdaqtrader.com/symboldirectory/nasdaqtraded.txt"

urllib.request.urlretrieve(url, "nasdaqtraded.txt")
urllib.request.urlretrieve(url, "mfundslist.txt")
urllib.request.urlretrieve(url, "bonds.txt")

df1 = pd.read_csv("nasdaqtraded.txt", sep="|")[0:-1]
df2 = pd.read_csv("mfundslist.txt", sep="|")[0:-1]
df3 = pd.read_csv("bonds.txt", sep="|")[0:-1]

# combined = pd.concat([df1['Symbol'],df2['Symbol'],df3['Symbol']],axis=0)

# process symbols for bad characters
BAD_CHARS = ["$", "."]
# pat = '|'.join(['({})'.format(re.escape(c)) for c in BAD_CHARS])
# cleaned = unique(combined.replace(BAD_CHARS,'-'))

# choose size
size = nstocks
# stocks = list(df1["Symbol"].sample(n=int(size/3)))
stocks = list(
    df1["Symbol"]
    .replace(".", "-")
    .replace("\\$", "-P", regex=True)
    .sample(n=int(size / 3))
)
mfunds = list(
    df2["Symbol"]
    .replace(".", "-")
    .replace("\\$", "-P", regex=True)
    .sample(n=int(size / 3))
)
bonds = list(
    df3["Symbol"]
    .replace(".", "-")
    .replace("\\$", "-P", regex=True)
    .sample(n=int(size / 3))
)
symbols = list(set(stocks + mfunds + bonds))  # unique(stocks + mfunds + bonds)
# symbols = unique(stocks)

In [7]:
print(start, one_week_end)

2020-05-18 2020-05-27

In [8]:
pf_pre = build_portfolio(
    names=symbols, start_date=start, end_date=one_week_end, data_api="yfinance"
)

[*********************100%***********************]  99 of 99 completed

25 Failed downloads:
- TGH-PB: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- WSO.B: No data found, symbol may be delisted
- TUYA: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- BMEA: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- IIAC.U: No data found, symbol may be delisted
- FFIE: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- QPX: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- YALA: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- GWH.W: No data found, symbol may be delisted
- ATHN.W: No data found, symbol may be delisted
- BDSX: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- MDWT: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- VMACU: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- AFTR.W: No data found, symbol may be delisted
- IRNT.W: No data found, symbol may be delisted
- RNR-PG: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- COVAW: No data found for this date range, symbol may be delisted
- COMSP: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- MUDSU: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- PTRA: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- YAC.W: No data found, symbol may be delisted
- WSBCP: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- BAC-PO: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- EFIV: Data doesn't exist for startDate = 1589778000, endDate = 1590555600
- ACHR.W: No data found, symbol may be delisted

In [9]:
vetted_symbols = list(
    pf_pre.data.loc[
        (np.intersect1d(list(pf_pre.data.index.strftime("%Y-%m-%d")), tradingDays))
    ]
    .head(-1)
    .tail(-1)
    .dropna(axis=1)
    .columns
)

In [10]:
# combinedList = unique(list(np.append(random.sample(symbols_sp500,int(len(symbols_sp500)*.05)),np.append(random.sample(dividendAristocraft,int(len(dividendAristocraft)*.25)),np.append(top10,random.sample(symbols_ns100,int(len(symbols_ns100)*.25)))))))

# add index
# vetted_symbols.append('TQQQ')

pf = build_portfolio(
    names=list(vetted_symbols), start_date=start, end_date=end, data_api="yfinance"
)

[*********************100%***********************]  74 of 74 completed

In [11]:
"""
import pandas_datareader.data as web

import datetime

# Multiple series:
fred_data = web.DataReader(FRED_Indicators, 'fred', start, end)
"""

FRED_Indicators = ["DTB4WK", "DTB3", "DTB6", "DTB1YR"]

import pandas_datareader.data as web


def Fred_Data(name):
    temp = web.DataReader(str(name), "fred", start, end)
    temp.index = pd.to_datetime(temp.index)
    # temp = temp.resample(frequency).mean().dropna()
    return temp


FRED_set = []
FRED_completed = []
for i in FRED_Indicators:
    FRED_completed.append(i)
    FRED_set.append(Fred_Data(i))

FRED_pvt = pd.DataFrame()

for x in range(0, len(FRED_completed)):
    values = FRED_set[x]
    values = values.loc[~values.index.duplicated(keep="last")]

    FRED_pvt = pd.concat([FRED_pvt, values], axis=1)

In [12]:
returns = np.log(
    1
    + pf.data.loc[
        (np.intersect1d(list(pf.data.index.strftime("%Y-%m-%d")), tradingDays))
    ]
    .head(-1)
    .interpolate(method="time")
    .pct_change()
    .tail(-1)
)
returns = returns.dropna(axis=1)
# returns.columns = stocks.dropna(axis=1)
len(returns.columns)
# np.sum(returns.isin([np.inf, -np.inf, np.NaN])).sort_values(kind="quicksort", ascending=True)

74

In [13]:
selectedmfunds = set(mfunds) & set(returns.columns)
selectedstocks = set(stocks) & set(returns.columns)
selectedbonds = set(bonds) & set(returns.columns)

In [14]:
n_steps_in = dback

n_steps_out = dahead

Training, Holdout = split_sequences(
    np.array(pd.DataFrame(returns.index.strftime("%Y-%m-%d"))), n_steps_in, n_steps_out
)

In [15]:
randomSet = list(np.sort(np.random.choice(range(0, len(Training)), nran)))

randomsymbols = list(np.random.choice(pf.data.columns, 10, replace=False))

# random columns
stocks = returns.loc[[i[0] for i in Training[randomSet[1]]]][randomsymbols]

"""
returns_table = session.read_csv(
    "returns.csv", keys=["stock"], store_name="Returns", array_sep=";"
)

returns_table.head()
"""
return_vec = np.array(stocks)

In [16]:
stocks[randomsymbols]

,TLTE,GYLD,ACER,BGR,LIZI,VABK,MVST,CYTH,IRT,WHG
Date,,,,,,,,,,
2020-05-21,-0.006627,0.005391,-0.094537,-0.005540,-0.023716,0.000000,0.004457,0.117783,0.005157,0.004845
2020-05-22,-0.020149,0.008032,-0.014266,0.001388,-0.087969,0.005375,0.000000,-0.057158,0.003082,0.010152
2020-05-26,0.019437,0.016748,-0.047068,0.016507,0.011429,0.000000,-0.005946,0.000000,0.037246,0.001063
2020-05-27,0.004268,0.011300,0.017911,0.010855,-0.034686,0.015346,0.003968,0.057158,0.009833,0.050231
2020-05-28,-0.003318,0.001727,-0.033086,-0.016327,-0.021404,0.015114,-0.003968,0.054067,-0.004904,-0.040191
...,...,...,...,...,...,...,...,...,...,...
2021-05-14,0.012651,0.007931,0.042725,0.021142,0.052947,0.017459,0.006683,0.036368,0.006177,0.014247
2021-05-17,-0.006226,0.000661,0.018833,0.006257,-0.018100,0.056089,0.005693,0.005698,-0.001232,-0.007835
2021-05-18,0.013361,0.004616,0.014815,-0.004167,0.097798,-0.030772,0.015955,0.030772,0.000000,0.020439
2021-05-19,-0.001740,-0.009917,0.028988,-0.024301,-0.059719,-0.008473,-0.023553,-0.025106,-0.007426,-0.004345
2021-05-20,0.004422,0.001328,0.031637,-0.006438,0.047219,0.007848,0.013258,0.056295,0.017852,-0.015111

In [17]:
# data = pd.DataFrame()
# for i in randomsymbols:
#     data = pd.concat([pd.DataFrame({i: [stocks[i].values]}), data], axis=1)

In [18]:
# data.transpose()

### Converting daily returns into list

In [19]:
data_transpose = stocks[randomsymbols].T
data_transpose.head()

Date,2020-05-21,2020-05-22,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-06-01,2020-06-02,2020-06-03,2020-06-04,...,2021-05-07,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-17,2021-05-18,2021-05-19,2021-05-20
TLTE,-0.006627,-0.020149,0.019437,0.004268,-0.003318,0.011566,0.022280,0.024261,0.022592,-0.013450,...,0.013962,-0.009442,-0.003896,-0.032046,0.000322,0.012651,-0.006226,0.013361,-0.001740,0.004422
GYLD,0.005391,0.008032,0.016748,0.011300,0.001727,-0.003457,0.006042,0.024651,0.032221,0.000000,...,0.011976,0.000661,-0.002647,-0.004650,0.003323,0.007931,0.000661,0.004616,-0.009917,0.001328
ACER,-0.094537,-0.014266,-0.047068,0.017911,-0.033086,-0.063112,0.044593,0.015456,0.003063,-0.053388,...,0.041282,-0.052843,0.045462,-0.037740,-0.031253,0.042725,0.018833,0.014815,0.028988,0.031637
BGR,-0.005540,0.001388,0.016507,0.010855,-0.016327,0.000000,0.021710,0.019934,0.020834,-0.001290,...,0.015932,0.006303,-0.012645,0.003176,-0.006602,0.021142,0.006257,-0.004167,-0.024301,-0.006438
LIZI,-0.023716,-0.087969,0.011429,-0.034686,-0.021404,-0.014528,-0.012270,0.054067,0.037870,0.025571,...,0.033152,-0.065505,-0.063894,-0.037820,-0.098957,0.052947,-0.018100,0.097798,-0.059719,0.047219

In [20]:
data_transpose["returns_vector"] = data_transpose.values.tolist()
data_transpose["returns_vector"].head()

TLTE    [-0.006627330642544011, -0.020149188232669944,...
GYLD    [0.005390724720720196, 0.008032173942892431, 0...
ACER    [-0.09453732028993911, -0.014265563573054692, ...
BGR     [-0.005540187577050592, 0.0013879451611966457,...
LIZI    [-0.023716494462178217, -0.08796879486950487, ...
Name: returns_vector, dtype: object

In [21]:
return_vector = data_transpose["returns_vector"].to_frame()
return_vector["symbol"] = return_vector.index
return_vector.head()

                                         returns_vector symbol
TLTE  [-0.006627330642544011, -0.020149188232669944,...   TLTE
GYLD  [0.005390724720720196, 0.008032173942892431, 0...   GYLD
ACER  [-0.09453732028993911, -0.014265563573054692, ...   ACER
BGR   [-0.005540187577050592, 0.0013879451611966457,...    BGR
LIZI  [-0.023716494462178217, -0.08796879486950487, ...   LIZI

### Getting list of dates for the return list

In [22]:
ret = stocks.reset_index().copy()
ret["Date"].head()

0   2020-05-21
1   2020-05-22
2   2020-05-26
3   2020-05-27
4   2020-05-28
Name: Date, dtype: datetime64[ns]

In [23]:
import numpy as np
import pandas as pd

import atoti as tt

In [24]:
session = tt.create_session()

In [25]:
# https://towardsdatascience.com/shape-tables-like-jelly-with-pandas-melt-and-pivot-f2e13e666d6

returns_table = session.read_pandas(
    return_vector,
    keys=["symbol"],
    table_name="Returns",
)

returns_table.head()

                                       returns_vector
symbol
TLTE    doubleVector[252]{-0.006627330642544011, ...}
GYLD     doubleVector[252]{0.005390724720720196, ...}
ACER     doubleVector[252]{-0.09453732028993911, ...}
BGR     doubleVector[252]{-0.005540187577050592, ...}
LIZI    doubleVector[252]{-0.023716494462178217, ...}

In [26]:
cube = session.create_cube(returns_table, "Return Cube")

In [27]:
h, l, m = cube.hierarchies, cube.levels, cube.measures

In [28]:
# import graphviz
cube.schema

In [29]:
# pip list

In [30]:
# years = 10

import contextlib

stocksp = 0.2
mfundsp = 0.1
bondsp = 0.2
commp = 0.2

n_portfolio = 100

bestSharpe = 0
runs = 0
weight = None
bestMean = 0
bestStd = 0
means = np.array([])
stds = np.array([])
sharpes = np.array([])
bestWeights = None
weights = np.array([])

# random dates using X_index

randomSet = list(np.sort(np.random.choice(range(0, len(X_index)), nran)))

for tensor in randomSet:

    randomsymbols = list(np.random.choice(pf.data.columns, 10, replace=False))
    # random columns
    stocks = returns.loc[[i[0] for i in X_index[tensor]]][randomsymbols]

    return_vec = np.array(stocks)

    # display(pd.DataFrame(stocks.cumsum().iloc[-1]).transpose())

    for _ in range(n_portfolio):
        means2, stds2, sharpes2, weights2 = np.column_stack(
            [random_portfolio(return_vec) for _ in range(len(stocks.columns))]
        )
        means_ = means2
        stds_ = stds2
        sharpes_ = sharpes2
        weights_ = weights2

        bestWeights = weights_[sharpes_.argmax()]

        means = np.append(means, means_)
        stds = np.append(stds, stds_)
        sharpes = np.append(sharpes, sharpes_)
        weights = np.append(weights, weights_)

    df_ = pd.DataFrame(weights[sharpes.argmax()]).set_index(stocks.columns)
    df_.columns = ["Weights"]

    next4weeks = returns.loc[[i[0] for i in y_index[tensor]]][randomsymbols]

    df_.sort_values(by=["Weights"], ascending=False, inplace=True)

    wr = np.array(
        weighted_return(
            np.array((np.exp(next4weeks) - 1).cumsum().tail(1)),
            weights[sharpes.argmax()],
        )
    )[0][0]

    max_sr_ret = means[sharpes.argmax()]
    max_sr_vol = stds[sharpes.argmax()]
    max_sharpe = sharpes[sharpes.argmax()]

    display([bestWeights, max_sr_ret, max_sr_vol, max_sharpe, wr])

NameError: name 'X_index' is not defined

In [ ]:
cube.create_parameter_hierarchy_from_members(
    "Dates", ret["Date"].tolist(), index_measure_name="Date Index"
)

# Setting the hierarchy to non-slicing, as required by
# the max_member aggregation function - see later - this behavior might change in future versions.
h["Dates"].slicing = False

In [ ]:
cube.schema

In [ ]:
m["daily returns"] = m["returns_vector.SUM"][m["Date Index"]]
m["daily returns"].formatter = "DOUBLE[#,###.0000000000]"

In [ ]:
session.visualize("Daily returns")