In [1]:
import yfinance as yf

apple = yf.Ticker("aapl")

# show actions (dividends, splits)
apple.actions

# show dividends
apple.dividends

# show splits
apple.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [2]:
import yfinance as yf

aapl = yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [3]:
import yfinance as yf

aapl = yf.Ticker("aapl")

# get stock info
aapl_historical = aapl.history(start="2020-06-02", end="2020-06-07", interval="1m")
aapl_historical

- AAPL: 1m data not available for startTime=1591074000 and endTime=1591506000. The requested range must be within the last 30 days.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [4]:
tickers = yf.Tickers('msft aapl goog')

In [5]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [10]:
# TICKERS OBJECT IS BROKEN
#tickers.MSFT.info

In [11]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30", group_by = 'column')
data

[*********************100%***********************]  3 of 3 completed

            Adj Close                              Close              \
                 AAPL        AMZN        GOOG       AAPL        AMZN
Date
2017-01-03  27.372362  753.669983  786.140015  29.037500  753.669983
2017-01-04  27.341724  757.179993  786.900024  29.004999  757.179993
2017-01-05  27.480770  780.450012  794.020020  29.152500  780.450012
2017-01-06  27.787130  795.989990  806.150024  29.477501  795.989990
2017-01-09  28.041647  796.919983  806.650024  29.747499  796.919983
...               ...         ...         ...        ...         ...
2017-04-24  33.997528  907.409973  862.760010  35.910000  907.409973
2017-04-25  34.208176  907.619995  872.299988  36.132500  907.619995
2017-04-26  34.006989  909.289978  871.729980  35.919998  909.289978
2017-04-27  34.033024  918.380005  874.250000  35.947498  918.380005
2017-04-28  33.999893  924.989990  905.960022  35.912498  924.989990

                             High                                Low  \
                  GOOG       AAPL        AMZN        GOOG       AAPL
Date
2017-01-03  786.140015  29.082500  758.760010  789.630005  28.690001
2017-01-04  786.900024  29.127501  759.679993  791.340027  28.937500
2017-01-05  794.020020  29.215000  782.400024  794.479980  28.952499
2017-01-06  806.150024  29.540001  799.440002  807.900024  29.117500
2017-01-09  806.650024  29.857500  801.770020  809.966003  29.485001
...                ...        ...         ...         ...        ...
2017-04-24  862.760010  35.987499  909.989990  863.450012  35.794998
2017-04-25  872.299988  36.224998  909.479980  875.000000  35.967499
2017-04-26  871.729980  36.150002  915.750000  876.049988  35.845001
2017-04-27  874.250000  36.040001  921.859985  875.400024  35.827499
2017-04-28  905.960022  36.075001  949.590027  916.849976  35.817501

                                         Open                          \
                  AMZN        GOOG       AAPL        AMZN        GOOG
Date
2017-01-03  747.700012  775.799988  28.950001  757.919983  778.809998
2017-01-04  754.200012  783.159973  28.962500  758.390015  788.359985
2017-01-05  760.260010  785.020020  28.980000  761.549988  786.080017
2017-01-06  778.479980  792.203979  29.195000  782.359985  795.260010
2017-01-09  791.770020  802.830017  29.487499  798.000000  806.400024
...                ...         ...        ...         ...         ...
2017-04-24  903.820007  849.859985  35.875000  908.679993  851.200012
2017-04-25  903.000000  862.809998  35.977501  907.039978  865.000000
2017-04-26  907.559998  867.747986  36.117500  910.299988  874.229980
2017-04-27  912.109985  870.380005  35.980000  914.390015  873.599976
2017-04-28  924.330017  905.770020  36.022499  948.830017  910.659973

               Volume
                 AAPL     AMZN     GOOG
Date
2017-01-03  115127600  3521100  1657300
2017-01-04   84472400  2510500  1073000
2017-01-05   88774400  5830100  1335200
2017-01-06  127007600  5986200  1640200
2017-01-09  134247600  3446100  1274600
...               ...      ...      ...
2017-04-24   68537200  3122900  1372500
2017-04-25   75486000  3380600  1672000
2017-04-26   80164800  2608900  1237200
2017-04-27   56985200  5305500  2026800
2017-04-28   83441600  7364700  3276300

[81 rows x 18 columns]

In [12]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30", group_by='tickers')
data

[*********************100%***********************]  3 of 3 completed

                 AAPL                                                         \
                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.372362  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.341724   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.480770   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.787130  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  28.041647  134247600
...               ...        ...        ...        ...        ...        ...
2017-04-24  35.875000  35.987499  35.794998  35.910000  33.997528   68537200
2017-04-25  35.977501  36.224998  35.967499  36.132500  34.208176   75486000
2017-04-26  36.117500  36.150002  35.845001  35.919998  34.006989   80164800
2017-04-27  35.980000  36.040001  35.827499  35.947498  34.033024   56985200
2017-04-28  36.022499  36.075001  35.817501  35.912498  33.999893   83441600

                  AMZN                                                  \
                  Open        High         Low       Close   Adj Close
Date
2017-01-03  757.919983  758.760010  747.700012  753.669983  753.669983
2017-01-04  758.390015  759.679993  754.200012  757.179993  757.179993
2017-01-05  761.549988  782.400024  760.260010  780.450012  780.450012
2017-01-06  782.359985  799.440002  778.479980  795.989990  795.989990
2017-01-09  798.000000  801.770020  791.770020  796.919983  796.919983
...                ...         ...         ...         ...         ...
2017-04-24  908.679993  909.989990  903.820007  907.409973  907.409973
2017-04-25  907.039978  909.479980  903.000000  907.619995  907.619995
2017-04-26  910.299988  915.750000  907.559998  909.289978  909.289978
2017-04-27  914.390015  921.859985  912.109985  918.380005  918.380005
2017-04-28  948.830017  949.590027  924.330017  924.989990  924.989990

                           GOOG                                      \
             Volume        Open        High         Low       Close
Date
2017-01-03  3521100  778.809998  789.630005  775.799988  786.140015
2017-01-04  2510500  788.359985  791.340027  783.159973  786.900024
2017-01-05  5830100  786.080017  794.479980  785.020020  794.020020
2017-01-06  5986200  795.260010  807.900024  792.203979  806.150024
2017-01-09  3446100  806.400024  809.966003  802.830017  806.650024
...             ...         ...         ...         ...         ...
2017-04-24  3122900  851.200012  863.450012  849.859985  862.760010
2017-04-25  3380600  865.000000  875.000000  862.809998  872.299988
2017-04-26  2608900  874.229980  876.049988  867.747986  871.729980
2017-04-27  5305500  873.599976  875.400024  870.380005  874.250000
2017-04-28  7364700  910.659973  916.849976  905.770020  905.960022


             Adj Close   Volume
Date
2017-01-03  786.140015  1657300
2017-01-04  786.900024  1073000
2017-01-05  794.020020  1335200
2017-01-06  806.150024  1640200
2017-01-09  806.650024  1274600
...                ...      ...
2017-04-24  862.760010  1372500
2017-04-25  872.299988  1672000
2017-04-26  871.729980  1237200
2017-04-27  874.250000  2026800
2017-04-28  905.960022  3276300

[81 rows x 18 columns]

In [13]:
aapl = yf.Ticker("aapl") 
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.31955,
 'profitMargins': 0.25004,
 'grossMargins': 0.41005,
 'operatingCashflow': 104414003200,
 'revenueGrowth': 0.364,
 'operatingMargins': 0.28788,
 'ebitda': 110934999040,
 'targetLowPrice': 132,
 'recommendationKey': 'buy',
 'grossProfits': 104956000000,
 'freeCashflow': 80625876992,
 'targetMedianPrice': 169.28,
 'currentPrice': 148.79,
 'earningsGrowth': 1,
 'currentRatio': 1.062,
 'returnOnAssets': 0.19302,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 167.27,
 'debtToEquity': 210.782,
 'returnOnEquity': 1.27125,
 'targetHighPrice': 190,
 'totalCash': 61696000000,
 'totalDebt': 135491002368,
 'totalRevenue': 347155005440,
 'totalCashPerShare': 3.732,
 'financialCurrency': 'USD',
 'revenuePerShare': 20.61,
 'quickRatio': 0.887,
 'recommendationMean': 1.9,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.309,
 'beta3Year': None,
 'enterpriseToEbitda': 22.872,
 '52WeekChange': 0.3948896,
 'morningStarRiskRating': None,
 'forwardEps': 5.71,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16530199552,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 3.882,
 'sharesShort': 96838699,
 'sharesPercentSharesOut': 0.0058999998,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.5873,
 'netIncomeToCommon': 86801997824,
 'trailingEps': 5.108,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.34982395,
 'priceToBook': 38.32818,
 'heldPercentInsiders': 0.00071000005,
 'nextFiscalYearEnd': 1664150400,
 'yield': None,
 'mostRecentQuarter': 1624665600,
 'shortRatio': 1.46,
 'sharesShortPreviousMonthDate': 1627603200,
 'floatShares': 16513305231,
 'beta': 1.201965,
 'enterpriseValue': 2537285746688,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.932,
 'priceToSalesTrailing12Months': 7.084813,
 'dateShortInterest': 1630368000,
 'pegRatio': 1.4,
 'ytdReturn': None,
 'forwardPE': 26.057793,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0058999998,
 'sharesShortPriorMonth': 93114834,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 149.03,
 'regularMarketOpen': 148.44,
 'twoHundredDayAverage': 135.22101,
 'trailingAnnualDividendYield': 0.0056028985,
 'payoutRatio': 0.16309999,
 'volume24Hr': None,
 'regularMarketDayHigh': 148.9684,
 'navPrice': None,
 'averageDailyVolume10Day': 92804642,
 'regularMarketPreviousClose': 149.03,
 'fiftyDayAverage': 149.21794,
 'trailingAnnualDividendRate': 0.835,
 'open': 148.44,
 'toCurrency': None,
 'averageVolume10days': 92804642,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1628208000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 147.221,
 'currency': 'USD',
 'trailingPE': 29.128817,
 'regularMarketVolume': 67901433,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2459528331264,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 79180168,
 'dayLow': 147.221,
 'ask': 148.6,
 'askSize': 3100,
 'volume': 67901433,
 'fiftyTwoWeekHigh': 157.26,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.27,
 'fiftyTwoWeekLow': 103.1,
 'bid': 148.59,
 'tradeable': False,
 'dividendYield': 0.0058999998,
 'bidSize': 1000,
 'dayHigh': 148.9684,
 'regularMarketPrice': 148.79,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [14]:
aapl = yf.Ticker("aapl")
aapl.info['forwardPE']

26.057793

In [15]:
aapl.info['dividendRate']

0.88

In [16]:
aapl.dividends

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2020-08-07    0.205000
2020-11-06    0.205000
2021-02-05    0.205000
2021-05-07    0.220000
2021-08-06    0.220000
Name: Dividends, Length: 72, dtype: float64

In [17]:
import pandas as pd

tickers_list = ["aapl", "goog", "amzn", "BAC", "BA"] # example list
tickers_data = {} # empty dictionary

In [18]:
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'aapl':                Attribute                                             Recent
 0                    zip                                              95014
 1                 sector                                         Technology
 2      fullTimeEmployees                                             147000
 3    longBusinessSummary  Apple Inc. designs, manufactures, and markets ...
 4                   city                                          Cupertino
 ..                   ...                                                ...
 146        dividendYield                                             0.0059
 147              bidSize                                               1000
 148              dayHigh                                           148.9684
 149   regularMarketPrice                                             148.79
 150             logo_url                https://logo.clearbit.com/apple.com

 [151 rows x 2 columns],
 'goog':                Attribute                                             Recent
 0                    zip                                              94043
 1                 sector                             Communication Services
 2      fullTimeEmployees                                             144056
 3    longBusinessSummary  Alphabet Inc. provides online advertising serv...
 4                   city                                      Mountain View
 ..                   ...                                                ...
 146        dividendYield                                               None
 147              bidSize                                                900
 148              dayHigh                                               2904
 149   regularMarketPrice                                            2887.47
 150             logo_url                  https://logo.clearbit.com/abc.xyz

 [151 rows x 2 columns],
 'amzn':                Attribute                                             Recent
 0                    zip                                         98109-5210
 1                 sector                                  Consumer Cyclical
 2      fullTimeEmployees                                            1335000
 3    longBusinessSummary  Amazon.com, Inc. engages in the retail sale of...
 4                   city                                            Seattle
 ..                   ...                                                ...
 146        dividendYield                                               None
 147              bidSize                                                800
 148              dayHigh                                            3492.55
 149   regularMarketPrice                                            3488.24
 150             logo_url               https://logo.clearbit.com/amazon.com

 [151 rows x 2 columns],
 'BAC':                Attribute                                             Recent
 0                    zip                                              28255
 1                 sector                                 Financial Services
 2      fullTimeEmployees                                             212000
 3    longBusinessSummary  Bank of America Corporation, through its subsi...
 4                   city                                          Charlotte
 ..                   ...                                                ...
 147        dividendYield                                             0.0208
 148              bidSize                                               3200
 149              dayHigh                                              40.81
 150   regularMarketPrice                                              40.45
 151             logo_url        https://logo.clearbit.com/bankofamerica.com

 [152 rows x 2 columns],
 'BA':                Attribute                                             Recent
 0                    zip                                         60606-1596
 1                 sector                                        Industrials
 2      fullTimeEmployees                                             141000
 3    longBusinessSummary  The Boeing Company, together with its subsidia...
 4                   city                                            Chicago
 ..                   ...                                                ...
 145        dividendYield                                               None
 146              bidSize                                                900
 147              dayHigh                                              216.3
 148   regularMarketPrice                                             213.36
 149             logo_url               https://logo.clearbit.com/boeing.com

 [150 rows x 2 columns]}

In [19]:
# combine all the info dataframes for each ticker into a single data frame
combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

,level_0,level_1,Attribute,Recent
0,aapl,0,zip,95014
1,aapl,1,sector,Technology
2,aapl,2,fullTimeEmployees,147000
3,aapl,3,longBusinessSummary,"Apple Inc. designs, manufactures, and markets ..."
4,aapl,4,city,Cupertino
...,...,...,...,...
750,BA,145,dividendYield,None
751,BA,146,bidSize,900
752,BA,147,dayHigh,216.3
753,BA,148,regularMarketPrice,213.36
754,BA,149,logo_url,https://logo.clearbit.com/boeing.com

In [20]:
del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

combined_data

,Ticker,Attribute,Recent
0,aapl,zip,95014
1,aapl,sector,Technology
2,aapl,fullTimeEmployees,147000
3,aapl,longBusinessSummary,"Apple Inc. designs, manufactures, and markets ..."
4,aapl,city,Cupertino
...,...,...,...
750,BA,dividendYield,None
751,BA,bidSize,900
752,BA,dayHigh,216.3
753,BA,regularMarketPrice,213.36
754,BA,logo_url,https://logo.clearbit.com/boeing.com

In [21]:
employees = combined_data[combined_data["Attribute"]=="fullTimeEmployees"].reset_index()
del employees["index"] # clean up unnecessary column

employees

  Ticker          Attribute   Recent
0   aapl  fullTimeEmployees   147000
1   goog  fullTimeEmployees   144056
2   amzn  fullTimeEmployees  1335000
3    BAC  fullTimeEmployees   212000
4     BA  fullTimeEmployees   141000

In [22]:
employees_sorted = employees.sort_values('Recent',ascending=False)
employees_sorted

  Ticker          Attribute   Recent
2   amzn  fullTimeEmployees  1335000
3    BAC  fullTimeEmployees   212000
0   aapl  fullTimeEmployees   147000
1   goog  fullTimeEmployees   144056
4     BA  fullTimeEmployees   141000

In [23]:
aapl.info["marketCap"]

2459528331264

In [24]:
aapl.info["volume"]

67901433

In [25]:
aapl.info["averageVolume"]

79180168

In [26]:
aapl.info["averageVolume10days"]

92804642

In [27]:
aapl_historical = aapl.history(period="max", interval="1wk")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-08,0.100600,0.101037,0.100600,0.100600,469033600.0,0.0,0.0
1980-12-15,0.095789,0.099288,0.088353,0.098851,490134400.0,0.0,0.0
1980-12-22,0.103662,0.124657,0.103662,0.124219,187891200.0,0.0,0.0
1980-12-29,0.125969,0.126406,0.119408,0.120720,219452800.0,0.0,0.0
1981-01-05,0.118534,0.118534,0.105849,0.111535,197904000.0,0.0,0.0
...,...,...,...,...,...,...,...
2021-08-23,148.309998,150.860001,146.830002,148.600006,272048200.0,0.0,0.0
2021-08-30,149.000000,154.979996,148.610001,154.300003,386647700.0,0.0,0.0
2021-09-06,154.970001,157.259995,148.699997,148.970001,354650600.0,0.0,0.0
2021-09-13,150.630005,151.419998,146.369995,149.029999,294981900.0,0.0,0.0
2021-09-16,148.440002,148.968399,147.220993,148.789993,67901433.0,0.0,0.0

In [28]:
aapl.info["fiftyTwoWeekHigh"]

157.26

In [29]:
aapl.options

('2021-09-17',
 '2021-09-24',
 '2021-10-01',
 '2021-10-08',
 '2021-10-15',
 '2021-10-22',
 '2021-10-29',
 '2021-11-19',
 '2021-12-17',
 '2022-01-21',
 '2022-03-18',
 '2022-04-14',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15')

In [32]:
# get option chain calls data for specific expiration date
opt = aapl.option_chain(date=aapl.options[-1])
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230915C00075000,2021-09-16 19:57:32,75.0,75.85,75.65,76.20,-0.400002,-0.524592,13,1079,0.369757,True,REGULAR,USD
1,AAPL230915C00080000,2021-09-15 16:37:48,80.0,70.58,71.20,71.80,0.000000,0.000000,21,223,0.362494,True,REGULAR,USD
2,AAPL230915C00085000,2021-09-16 18:51:46,85.0,66.60,66.85,67.60,0.599998,0.909089,1,390,0.358710,True,REGULAR,USD
3,AAPL230915C00090000,2021-09-16 14:14:40,90.0,62.00,62.60,63.25,-0.450001,-0.720578,11,208,0.347663,True,REGULAR,USD
4,AAPL230915C00095000,2021-09-16 19:24:15,95.0,58.60,58.60,59.20,1.000000,1.736111,4,38,0.342353,True,REGULAR,USD
5,AAPL230915C00100000,2021-09-16 18:12:34,100.0,54.34,54.40,55.20,-0.509998,-0.929805,21,1138,0.335639,True,REGULAR,USD
6,AAPL230915C00105000,2021-09-16 15:50:16,105.0,50.00,50.50,51.30,-0.049999,-0.099899,1,171,0.328742,True,REGULAR,USD
7,AAPL230915C00110000,2021-09-15 19:46:40,110.0,47.49,46.80,47.55,0.000000,0.000000,1,241,0.322547,True,REGULAR,USD
8,AAPL230915C00115000,2021-09-16 13:49:46,115.0,43.15,43.35,44.10,0.700001,1.649001,11,378,0.319282,True,REGULAR,USD
9,AAPL230915C00120000,2021-09-16 14:29:47,120.0,39.50,40.05,40.70,-1.099999,-2.709356,1,674,0.314460,True,REGULAR,USD
10,AAPL230915C00125000,2021-09-16 19:06:30,125.0,36.85,36.75,37.00,0.849998,2.361107,30,409,0.303321,True,REGULAR,USD
11,AAPL230915C00130000,2021-09-16 19:52:11,130.0,33.97,33.80,34.30,0.170002,0.502965,15,504,0.304557,True,REGULAR,USD
12,AAPL230915C00135000,2021-09-16 19:56:12,135.0,31.20,31.00,31.55,-0.449999,-1.421797,16,858,0.302711,True,REGULAR,USD
13,AAPL230915C00140000,2021-09-16 19:29:36,140.0,28.50,28.40,28.85,-0.299999,-1.041664,31,726,0.299415,True,REGULAR,USD
14,AAPL230915C00145000,2021-09-16 19:37:19,145.0,26.10,25.90,26.35,-0.369999,-1.397805,68,1035,0.296729,True,REGULAR,USD
15,AAPL230915C00150000,2021-09-16 19:35:16,150.0,23.79,23.70,24.10,-0.459999,-1.896904,137,3659,0.295234,False,REGULAR,USD
16,AAPL230915C00155000,2021-09-16 19:01:01,155.0,21.60,21.60,22.00,-0.119999,-0.552481,82,1090,0.293708,False,REGULAR,USD
17,AAPL230915C00160000,2021-09-16 16:49:04,160.0,19.58,19.65,20.05,-0.160000,-0.810536,23,3126,0.292243,False,REGULAR,USD
18,AAPL230915C00165000,2021-09-16 19:55:19,165.0,18.05,17.90,18.30,-0.050001,-0.276249,23,1144,0.291496,False,REGULAR,USD
19,AAPL230915C00170000,2021-09-16 18:18:26,170.0,16.27,16.30,16.65,-0.160000,-0.973827,304,5057,0.290351,False,REGULAR,USD
20,AAPL230915C00175000,2021-09-16 19:13:22,175.0,15.00,14.80,15.15,0.140000,0.942129,176,3368,0.289512,False,REGULAR,USD
21,AAPL230915C00180000,2021-09-16 18:11:01,180.0,13.50,13.45,13.80,-0.100000,-0.735297,2,1949,0.289054,False,REGULAR,USD
22,AAPL230915C00185000,2021-09-16 14:42:30,185.0,12.06,12.30,12.55,-0.290000,-2.348178,4,1342,0.288490,False,REGULAR,USD
23,AAPL230915C00190000,2021-09-16 18:18:52,190.0,11.15,11.10,11.40,-0.310000,-2.705065,417,1131,0.287864,False,REGULAR,USD
24,AAPL230915C00195000,2021-09-15 19:38:23,195.0,10.46,10.05,10.40,0.000000,0.000000,22,527,0.287971,False,REGULAR,USD
25,AAPL230915C00200000,2021-09-16 19:13:05,200.0,9.30,9.10,9.45,-0.030000,-0.321541,74,13109,0.287574,False,REGULAR,USD
26,AAPL230915C00205000,2021-09-16 18:33:29,205.0,8.29,8.30,8.60,-0.330000,-3.828305,26,318,0.287467,False,REGULAR,USD
27,AAPL230915C00210000,2021-09-16 17:48:21,210.0,7.55,7.55,7.85,0.050000,0.666669,5,482,0.287727,False,REGULAR,USD
28,AAPL230915C00220000,2021-09-16 19:09:13,220.0,6.35,6.25,6.50,-0.280000,-4.223231,2328,393,0.287574,False,REGULAR,USD
29,AAPL230915C00230000,2021-09-16 19:22:18,230.0,5.35,5.20,5.45,-0.100000,-1.834861,37,1427,0.288673,False,REGULAR,USD
30,AAPL230915C00240000,2021-09-15 19:28:52,240.0,4.50,4.35,4.60,0.000000,0.000000,6,2510,0.290168,False,REGULAR,USD
31,AAPL230915C00250000,2021-09-16 19:14:53,250.0,3.75,3.65,3.90,-0.140000,-3.598974,75,346,0.291786,False,REGULAR,USD

In [33]:
opt.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230915P00075000,2021-09-16 19:16:37,75.0,2.54,2.48,2.63,0.010000,0.395257,61,748,0.379157,False,REGULAR,USD
1,AAPL230915P00080000,2021-09-16 18:46:23,80.0,3.10,3.00,3.25,0.010000,0.323624,10,63,0.371283,False,REGULAR,USD
2,AAPL230915P00085000,2021-09-15 15:07:16,85.0,3.80,3.60,3.80,0.000000,0.000000,1,62,0.358893,False,REGULAR,USD
3,AAPL230915P00090000,2021-09-16 19:32:29,90.0,4.40,4.30,4.55,-0.190000,-4.139434,4,507,0.350531,False,REGULAR,USD
4,AAPL230915P00095000,2021-09-16 16:43:55,95.0,5.35,5.10,5.40,0.200000,3.883491,2,470,0.342597,False,REGULAR,USD
5,AAPL230915P00100000,2021-09-16 15:47:41,100.0,6.35,6.05,6.30,0.100000,1.599998,6,844,0.333716,False,REGULAR,USD
6,AAPL230915P00105000,2021-09-16 17:31:17,105.0,7.40,7.10,7.35,0.050000,0.680275,71,216,0.326057,False,REGULAR,USD
7,AAPL230915P00110000,2021-09-16 17:31:23,110.0,8.65,8.30,8.50,0.150000,1.764701,9,386,0.318305,False,REGULAR,USD
8,AAPL230915P00115000,2021-09-16 14:25:21,115.0,10.10,9.65,9.95,-0.150000,-1.463411,1,584,0.313758,False,REGULAR,USD
9,AAPL230915P00120000,2021-09-16 18:16:02,120.0,11.50,11.20,11.50,-0.550000,-4.564317,5,642,0.308570,False,REGULAR,USD
10,AAPL230915P00125000,2021-09-13 18:26:04,125.0,13.45,12.90,13.20,0.000000,0.000000,11,1091,0.303535,False,REGULAR,USD
11,AAPL230915P00130000,2021-09-16 19:43:58,130.0,15.07,14.90,15.20,-0.330000,-2.142857,4,661,0.300666,False,REGULAR,USD
12,AAPL230915P00135000,2021-09-16 19:52:13,135.0,17.15,16.95,17.30,-0.400000,-2.279200,250,305,0.297004,False,REGULAR,USD
13,AAPL230915P00140000,2021-09-16 18:58:12,140.0,19.63,19.25,19.60,-0.870001,-4.243906,9,484,0.293937,False,REGULAR,USD
14,AAPL230915P00145000,2021-09-16 19:19:57,145.0,21.97,21.70,22.10,-0.480001,-2.138091,2,271,0.291404,False,REGULAR,USD
15,AAPL230915P00150000,2021-09-16 19:32:46,150.0,24.52,24.45,24.80,-0.230000,-0.929291,2,1449,0.289405,True,REGULAR,USD
16,AAPL230915P00155000,2021-09-16 15:46:29,155.0,27.90,27.20,27.65,-0.670000,-2.345118,1,290,0.287361,True,REGULAR,USD
17,AAPL230915P00160000,2021-09-16 15:42:00,160.0,31.00,30.25,30.55,0.600000,1.973685,6,813,0.284156,True,REGULAR,USD
18,AAPL230915P00165000,2021-09-14 16:00:02,165.0,33.30,33.45,33.90,0.000000,0.000000,1,121,0.284614,True,REGULAR,USD
19,AAPL230915P00170000,2021-09-16 15:42:25,170.0,37.65,36.75,37.25,0.510002,1.373188,1,63,0.283424,True,REGULAR,USD
20,AAPL230915P00175000,2021-09-14 18:17:57,175.0,41.50,40.20,40.75,0.000000,0.000000,43,119,0.282508,True,REGULAR,USD
21,AAPL230915P00180000,2021-09-13 17:28:12,180.0,44.15,43.70,44.40,0.000000,0.000000,5,27,0.281959,True,REGULAR,USD
22,AAPL230915P00185000,2021-09-10 17:39:39,185.0,47.29,47.50,48.10,0.000000,0.000000,44,104,0.280616,True,REGULAR,USD
23,AAPL230915P00190000,2021-09-14 18:18:15,190.0,52.85,51.25,51.95,0.000000,0.000000,5,12,0.279808,True,REGULAR,USD
24,AAPL230915P00195000,2021-08-30 15:19:03,195.0,53.70,55.05,55.95,0.000000,0.000000,2,3,0.279701,True,REGULAR,USD
25,AAPL230915P00200000,2021-09-14 18:14:03,200.0,60.55,59.10,59.95,0.000000,0.000000,22,280,0.278358,True,REGULAR,USD
26,AAPL230915P00205000,2021-09-15 19:55:01,205.0,63.86,63.45,64.05,0.000000,0.000000,8,34,0.277183,True,REGULAR,USD
27,AAPL230915P00210000,2021-09-07 13:41:50,210.0,63.65,67.40,68.30,0.000000,0.000000,10,15,0.277076,True,REGULAR,USD
28,AAPL230915P00220000,2021-09-09 13:36:06,220.0,71.00,76.10,76.90,0.000000,0.000000,10,18,0.275154,True,REGULAR,USD
29,AAPL230915P00230000,2021-09-16 14:42:21,230.0,86.50,85.15,85.85,0.400002,0.464578,1,39,0.275093,True,REGULAR,USD
30,AAPL230915P00250000,2021-09-15 17:07:52,250.0,104.62,103.30,104.25,0.000000,0.000000,2,26,0.274177,True,REGULAR,USD

In [34]:
opt

Options(calls=         contractSymbol       lastTradeDate  strike  lastPrice    bid    ask  \
0   AAPL230915C00075000 2021-09-16 19:57:32    75.0      75.85  75.65  76.20
1   AAPL230915C00080000 2021-09-15 16:37:48    80.0      70.58  71.20  71.80
2   AAPL230915C00085000 2021-09-16 18:51:46    85.0      66.60  66.85  67.60
3   AAPL230915C00090000 2021-09-16 14:14:40    90.0      62.00  62.60  63.25
4   AAPL230915C00095000 2021-09-16 19:24:15    95.0      58.60  58.60  59.20
5   AAPL230915C00100000 2021-09-16 18:12:34   100.0      54.34  54.40  55.20
6   AAPL230915C00105000 2021-09-16 15:50:16   105.0      50.00  50.50  51.30
7   AAPL230915C00110000 2021-09-15 19:46:40   110.0      47.49  46.80  47.55
8   AAPL230915C00115000 2021-09-16 13:49:46   115.0      43.15  43.35  44.10
9   AAPL230915C00120000 2021-09-16 14:29:47   120.0      39.50  40.05  40.70
10  AAPL230915C00125000 2021-09-16 19:06:30   125.0      36.85  36.75  37.00
11  AAPL230915C00130000 2021-09-16 19:52:11   130.0      33.97  33.80  34.30
12  AAPL230915C00135000 2021-09-16 19:56:12   135.0      31.20  31.00  31.55
13  AAPL230915C00140000 2021-09-16 19:29:36   140.0      28.50  28.40  28.85
14  AAPL230915C00145000 2021-09-16 19:37:19   145.0      26.10  25.90  26.35
15  AAPL230915C00150000 2021-09-16 19:35:16   150.0      23.79  23.70  24.10
16  AAPL230915C00155000 2021-09-16 19:01:01   155.0      21.60  21.60  22.00
17  AAPL230915C00160000 2021-09-16 16:49:04   160.0      19.58  19.65  20.05
18  AAPL230915C00165000 2021-09-16 19:55:19   165.0      18.05  17.90  18.30
19  AAPL230915C00170000 2021-09-16 18:18:26   170.0      16.27  16.30  16.65
20  AAPL230915C00175000 2021-09-16 19:13:22   175.0      15.00  14.80  15.15
21  AAPL230915C00180000 2021-09-16 18:11:01   180.0      13.50  13.45  13.80
22  AAPL230915C00185000 2021-09-16 14:42:30   185.0      12.06  12.30  12.55
23  AAPL230915C00190000 2021-09-16 18:18:52   190.0      11.15  11.10  11.40
24  AAPL230915C00195000 2021-09-15 19:38:23   195.0      10.46  10.05  10.40
25  AAPL230915C00200000 2021-09-16 19:13:05   200.0       9.30   9.10   9.45
26  AAPL230915C00205000 2021-09-16 18:33:29   205.0       8.29   8.30   8.60
27  AAPL230915C00210000 2021-09-16 17:48:21   210.0       7.55   7.55   7.85
28  AAPL230915C00220000 2021-09-16 19:09:13   220.0       6.35   6.25   6.50
29  AAPL230915C00230000 2021-09-16 19:22:18   230.0       5.35   5.20   5.45
30  AAPL230915C00240000 2021-09-15 19:28:52   240.0       4.50   4.35   4.60
31  AAPL230915C00250000 2021-09-16 19:14:53   250.0       3.75   3.65   3.90

      change  percentChange  volume  openInterest  impliedVolatility  \
0  -0.400002      -0.524592      13          1079           0.369757
1   0.000000       0.000000      21           223           0.362494
2   0.599998       0.909089       1           390           0.358710
3  -0.450001      -0.720578      11           208           0.347663
4   1.000000       1.736111       4            38           0.342353
5  -0.509998      -0.929805      21          1138           0.335639
6  -0.049999      -0.099899       1           171           0.328742
7   0.000000       0.000000       1           241           0.322547
8   0.700001       1.649001      11           378           0.319282
9  -1.099999      -2.709356       1           674           0.314460
10  0.849998       2.361107      30           409           0.303321
11  0.170002       0.502965      15           504           0.304557
12 -0.449999      -1.421797      16           858           0.302711
13 -0.299999      -1.041664      31           726           0.299415
14 -0.369999      -1.397805      68          1035           0.296729
15 -0.459999      -1.896904     137          3659           0.295234
16 -0.119999      -0.552481      82          1090           0.293708
17 -0.160000      -0.810536      23          3126           0.292243
18 -0.050001      -0.276249      23          1144           0.291496
19 -0.160000      -0.973827     304          5057           0.290351
20  0.140000       0.942129     176          3368           0.289512
21 -0.100000      -0.735297       2          1949           0.289054
22 -0.290000      -2.348178       4          1342           0.288490
23 -0.310000      -2.705065     417          1131           0.287864
24  0.000000       0.000000      22           527           0.287971
25 -0.030000      -0.321541      74         13109           0.287574
26 -0.330000      -3.828305      26           318           0.287467
27  0.050000       0.666669       5           482           0.287727
28 -0.280000      -4.223231    2328           393           0.287574
29 -0.100000      -1.834861      37          1427           0.288673
30  0.000000       0.000000       6          2510           0.290168
31 -0.140000      -3.598974      75           346           0.291786

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
5         True      REGULAR      USD
6         True      REGULAR      USD
7         True      REGULAR      USD
8         True      REGULAR      USD
9         True      REGULAR      USD
10        True      REGULAR      USD
11        True      REGULAR      USD
12        True      REGULAR      USD
13        True      REGULAR      USD
14        True      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20       False      REGULAR      USD
21       False      REGULAR      USD
22       False      REGULAR      USD
23       False      REGULAR      USD
24       False      REGULAR      USD
25       False      REGULAR      USD
26       False      REGULAR      USD
27       False      REGULAR      USD
28       False      REGULAR      USD
29       False      REGULAR      USD
30       False      REGULAR      USD
31       False      REGULAR      USD  , puts=         contractSymbol       lastTradeDate  strike  lastPrice     bid  \
0   AAPL230915P00075000 2021-09-16 19:16:37    75.0       2.54    2.48
1   AAPL230915P00080000 2021-09-16 18:46:23    80.0       3.10    3.00
2   AAPL230915P00085000 2021-09-15 15:07:16    85.0       3.80    3.60
3   AAPL230915P00090000 2021-09-16 19:32:29    90.0       4.40    4.30
4   AAPL230915P00095000 2021-09-16 16:43:55    95.0       5.35    5.10
5   AAPL230915P00100000 2021-09-16 15:47:41   100.0       6.35    6.05
6   AAPL230915P00105000 2021-09-16 17:31:17   105.0       7.40    7.10
7   AAPL230915P00110000 2021-09-16 17:31:23   110.0       8.65    8.30
8   AAPL230915P00115000 2021-09-16 14:25:21   115.0      10.10    9.65
9   AAPL230915P00120000 2021-09-16 18:16:02   120.0      11.50   11.20
10  AAPL230915P00125000 2021-09-13 18:26:04   125.0      13.45   12.90
11  AAPL230915P00130000 2021-09-16 19:43:58   130.0      15.07   14.90
12  AAPL230915P00135000 2021-09-16 19:52:13   135.0      17.15   16.95
13  AAPL230915P00140000 2021-09-16 18:58:12   140.0      19.63   19.25
14  AAPL230915P00145000 2021-09-16 19:19:57   145.0      21.97   21.70
15  AAPL230915P00150000 2021-09-16 19:32:46   150.0      24.52   24.45
16  AAPL230915P00155000 2021-09-16 15:46:29   155.0      27.90   27.20
17  AAPL230915P00160000 2021-09-16 15:42:00   160.0      31.00   30.25
18  AAPL230915P00165000 2021-09-14 16:00:02   165.0      33.30   33.45
19  AAPL230915P00170000 2021-09-16 15:42:25   170.0      37.65   36.75
20  AAPL230915P00175000 2021-09-14 18:17:57   175.0      41.50   40.20
21  AAPL230915P00180000 2021-09-13 17:28:12   180.0      44.15   43.70
22  AAPL230915P00185000 2021-09-10 17:39:39   185.0      47.29   47.50
23  AAPL230915P00190000 2021-09-14 18:18:15   190.0      52.85   51.25
24  AAPL230915P00195000 2021-08-30 15:19:03   195.0      53.70   55.05
25  AAPL230915P00200000 2021-09-14 18:14:03   200.0      60.55   59.10
26  AAPL230915P00205000 2021-09-15 19:55:01   205.0      63.86   63.45
27  AAPL230915P00210000 2021-09-07 13:41:50   210.0      63.65   67.40
28  AAPL230915P00220000 2021-09-09 13:36:06   220.0      71.00   76.10
29  AAPL230915P00230000 2021-09-16 14:42:21   230.0      86.50   85.15
30  AAPL230915P00250000 2021-09-15 17:07:52   250.0     104.62  103.30

       ask    change  percentChange  volume  openInterest  impliedVolatility  \
0     2.63  0.010000       0.395257      61           748           0.379157
1     3.25  0.010000       0.323624      10            63           0.371283
2     3.80  0.000000       0.000000       1            62           0.358893
3     4.55 -0.190000      -4.139434       4           507           0.350531
4     5.40  0.200000       3.883491       2           470           0.342597
5     6.30  0.100000       1.599998       6           844           0.333716
6     7.35  0.050000       0.680275      71           216           0.326057
7     8.50  0.150000       1.764701       9           386           0.318305
8     9.95 -0.150000      -1.463411       1           584           0.313758
9    11.50 -0.550000      -4.564317       5           642           0.308570
10   13.20  0.000000       0.000000      11          1091           0.303535
11   15.20 -0.330000      -2.142857       4           661           0.300666
12   17.30 -0.400000      -2.279200     250           305           0.297004
13   19.60 -0.870001      -4.243906       9           484           0.293937
14   22.10 -0.480001      -2.138091       2           271           0.291404
15   24.80 -0.230000      -0.929291       2          1449           0.289405
16   27.65 -0.670000      -2.345118       1           290           0.287361
17   30.55  0.600000       1.973685       6           813           0.284156
18   33.90  0.000000       0.000000       1           121           0.284614
19   37.25  0.510002       1.373188       1            63           0.283424
20   40.75  0.000000       0.000000      43           119           0.282508
21   44.40  0.000000       0.000000       5            27           0.281959
22   48.10  0.000000       0.000000      44           104           0.280616
23   51.95  0.000000       0.000000       5            12           0.279808
24   55.95  0.000000       0.000000       2             3           0.279701
25   59.95  0.000000       0.000000      22           280           0.278358
26   64.05  0.000000       0.000000       8            34           0.277183
27   68.30  0.000000       0.000000      10            15           0.277076
28   76.90  0.000000       0.000000      10            18           0.275154
29   85.85  0.400002       0.464578       1            39           0.275093
30  104.25  0.000000       0.000000       2            26           0.274177

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
5        False      REGULAR      USD
6        False      REGULAR      USD
7        False      REGULAR      USD
8        False      REGULAR      USD
9        False      REGULAR      USD
10       False      REGULAR      USD
11       False      REGULAR      USD
12       False      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15        True      REGULAR      USD
16        True      REGULAR      USD
17        True      REGULAR      USD
18        True      REGULAR      USD
19        True      REGULAR      USD
20        True      REGULAR      USD
21        True      REGULAR      USD
22        True      REGULAR      USD
23        True      REGULAR      USD
24        True      REGULAR      USD
25        True      REGULAR      USD
26        True      REGULAR      USD
27        True      REGULAR      USD
28        True      REGULAR      USD
29        True      REGULAR      USD
30        True      REGULAR      USD  )

In [35]:
#### OTHER METHODS NOT USED IN ARTICLE ####

In [36]:
# show actions (dividends, splits)
aapl.actions

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-11-17   0.000714           0.0
1988-11-21   0.000893           0.0
1989-11-17   0.000982           0.0
1990-11-16   0.001071           0.0
2012-08-09   0.094643           0.0
2013-05-09   0.108929           0.0
2014-05-08   0.117500           0.0
2014-06-09   0.000000           7.0
2015-05-07   0.130000           0.0
2016-05-05   0.142500           0.0
2017-05-11   0.157500           0.0
2018-05-11   0.182500           0.0
2019-05-10   0.192500           0.0
2020-05-08   0.205000           0.0
2020-08-31   0.000000           4.0
2021-05-07   0.220000           0.0

In [37]:
# show splits
aapl.splits

Date
1987-06-16    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [38]:
# show financials BROKEN
aapl.financials

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Research Development,18752000000.0,16217000000.0,14236000000.0,11581000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,67091000000.0,65737000000.0,72903000000.0,64089000000.0
Minority Interest,None,None,None,None
Net Income,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Selling General Administrative,19916000000.0,18245000000.0,16705000000.0,15261000000.0
Gross Profit,104956000000.0,98392000000.0,101839000000.0,88186000000.0
Ebit,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Operating Income,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2873000000.0,-3576000000.0,-3240000000.0,-2323000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9680000000.0,10481000000.0,13372000000.0,15738000000.0
Total Revenue,274515000000.0,260174000000.0,265595000000.0,229234000000.0
Total Operating Expenses,208227000000.0,196244000000.0,194697000000.0,167890000000.0
Cost Of Revenue,169559000000.0,161782000000.0,163756000000.0,141048000000.0
Total Other Income Expense Net,803000000.0,1807000000.0,2005000000.0,2745000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Net Income Applicable To Common Shares,57411000000.0,55256000000.0,59531000000.0,48351000000.0

In [39]:
# show quarterly_financials BROKEN
aapl.quarterly_financials

,2021-06-26,2021-03-27,2020-12-26,2020-09-26
Research Development,5717000000.0,5262000000.0,5163000000.0,4978000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,24369000000.0,28011000000.0,33579000000.0,14901000000.0
Minority Interest,None,None,None,None
Net Income,21744000000.0,23630000000.0,28755000000.0,12673000000.0
Selling General Administrative,5412000000.0,5314000000.0,5631000000.0,4936000000.0
Gross Profit,35255000000.0,38079000000.0,44328000000.0,24689000000.0
Ebit,24126000000.0,27503000000.0,33534000000.0,14775000000.0
Operating Income,24126000000.0,27503000000.0,33534000000.0,14775000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-665000000.0,-670000000.0,-638000000.0,-634000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2625000000.0,4381000000.0,4824000000.0,2228000000.0
Total Revenue,81434000000.0,89584000000.0,111439000000.0,64698000000.0
Total Operating Expenses,57308000000.0,62081000000.0,77905000000.0,49923000000.0
Cost Of Revenue,46179000000.0,51505000000.0,67111000000.0,40009000000.0
Total Other Income Expense Net,243000000.0,508000000.0,45000000.0,126000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,21744000000.0,23630000000.0,28755000000.0,12673000000.0
Net Income Applicable To Common Shares,21744000000.0,23630000000.0,28755000000.0,12673000000.0

In [40]:
# show major holders 
aapl.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  58.73%       % of Shares Held by Institutions
2  58.77%        % of Float Held by Institutions
3    4981  Number of Institutions Holding Shares

In [41]:
# show institutional holders
aapl.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1264936543,2021-06-29,0.0765,173245708929
1,Blackrock Inc.,1028698316,2021-06-29,0.0622,140890521359
2,"Berkshire Hathaway, Inc",887135554,2021-06-29,0.0537,121502085475
3,State Street Corporation,622579947,2021-06-29,0.0377,85268549541
4,"FMR, LLC",350462986,2021-06-29,0.0212,47999410562
5,"Geode Capital Management, LLC",254162496,2021-06-29,0.0154,34810095452
6,Northern Trust Corporation,193253001,2021-06-29,0.0117,26467931016
7,Price (T.Rowe) Associates Inc,192697039,2021-06-29,0.0117,26391786461
8,Norges Bank Investment Management,167580974,2020-12-30,0.0101,22236319440
9,Bank Of New York Mellon Corporation,153929495,2021-06-29,0.0093,21082183635

In [42]:
# show balance sheet BROKEN
aapl.balance_sheet

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Total Liab,2.585490e+11,2.480280e+11,2.585780e+11,2.412720e+11
Total Stockholder Equity,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Other Current Liab,4.786700e+10,4.324200e+10,3.929300e+10,3.809900e+10
Total Assets,3.238880e+11,3.385160e+11,3.657250e+11,3.753190e+11
Common Stock,5.077900e+10,4.517400e+10,4.020100e+10,3.586700e+10
Other Current Assets,1.126400e+10,1.235200e+10,1.208700e+10,1.393600e+10
Retained Earnings,1.496600e+10,4.589800e+10,7.040000e+10,9.833000e+10
Other Liab,4.610800e+10,5.050300e+10,4.891400e+10,4.325100e+10
Treasury Stock,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Other Assets,3.395200e+10,3.297800e+10,2.228300e+10,1.817700e+10
Cash,3.801600e+10,4.884400e+10,2.591300e+10,2.028900e+10
Total Current Liabilities,1.053920e+11,1.057180e+11,1.159290e+11,1.008140e+11
Short Long Term Debt,8.773000e+09,1.026000e+10,8.784000e+09,6.496000e+09
Other Stockholder Equity,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Property Plant Equipment,4.533600e+10,3.737800e+10,4.130400e+10,3.378300e+10
Total Current Assets,1.437130e+11,1.628190e+11,1.313390e+11,1.286450e+11
Long Term Investments,1.008870e+11,1.053410e+11,1.707990e+11,1.947140e+11
Net Tangible Assets,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Short Term Investments,5.292700e+10,5.171300e+10,4.038800e+10,5.389200e+10
Net Receivables,3.744500e+10,4.580400e+10,4.899500e+10,3.567300e+10
Long Term Debt,9.866700e+10,9.180700e+10,9.373500e+10,9.720700e+10
Inventory,4.061000e+09,4.106000e+09,3.956000e+09,4.855000e+09
Accounts Payable,4.229600e+10,4.623600e+10,5.588800e+10,4.424200e+10

In [43]:
# BROKEN
aapl.quarterly_balance_sheet

,2021-06-26,2021-03-27,2020-12-26,2020-09-26
Total Liab,2.655600e+11,2.679800e+11,2.878300e+11,2.585490e+11
Total Stockholder Equity,6.428000e+10,6.917800e+10,6.622400e+10,6.533900e+10
Other Current Liab,5.130600e+10,5.325500e+10,5.589900e+10,4.786700e+10
Total Assets,3.298400e+11,3.371580e+11,3.540540e+11,3.238880e+11
Common Stock,5.498900e+10,5.420300e+10,5.174400e+10,5.077900e+10
Other Current Assets,1.364100e+10,1.337600e+10,1.368700e+10,1.126400e+10
Retained Earnings,9.233000e+09,1.526100e+10,1.430100e+10,1.496600e+10
Other Liab,3.835400e+10,3.985300e+10,4.304200e+10,4.610800e+10
Treasury Stock,5.800000e+07,-2.860000e+08,1.790000e+08,-4.060000e+08
Other Assets,4.485400e+10,4.333900e+10,4.327000e+10,3.395200e+10
Cash,3.405000e+10,3.846600e+10,3.601000e+10,3.801600e+10
Total Current Liabilities,1.077540e+11,1.063850e+11,1.325070e+11,1.053920e+11
Short Long Term Debt,8.039000e+09,8.003000e+09,7.762000e+09,8.773000e+09
Other Stockholder Equity,5.800000e+07,-2.860000e+08,1.790000e+08,-4.060000e+08
Property Plant Equipment,3.861500e+10,3.781500e+10,3.793300e+10,4.533600e+10
Total Current Assets,1.144230e+11,1.214650e+11,1.541060e+11,1.437130e+11
Long Term Investments,1.319480e+11,1.345390e+11,1.187450e+11,1.008870e+11
Net Tangible Assets,6.428000e+10,6.917800e+10,6.622400e+10,6.533900e+10
Short Term Investments,2.764600e+10,3.136800e+10,4.081600e+10,5.292700e+10
Net Receivables,3.390800e+10,3.303600e+10,5.862000e+10,3.744500e+10
Long Term Debt,1.057520e+11,1.086420e+11,9.928100e+10,9.866700e+10
Inventory,5.178000e+09,5.219000e+09,4.973000e+09,4.061000e+09
Accounts Payable,4.040900e+10,4.012700e+10,6.384600e+10,4.229600e+10

In [44]:
# show cashflow BROKEN
aapl.cashflow

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Investments,5.335000e+09,5.809300e+10,3.084500e+10,-3.354200e+10
Change To Liabilities,-1.981000e+09,-2.548000e+09,9.172000e+09,8.373000e+09
Total Cashflows From Investing Activities,-4.289000e+09,4.589600e+10,1.606600e+10,-4.644600e+10
Net Borrowings,2.499000e+09,-7.819000e+09,4.320000e+08,2.901400e+10
Total Cash From Financing Activities,-8.682000e+10,-9.097600e+10,-8.787600e+10,-1.797400e+10
Change To Operating Activities,8.810000e+08,-8.960000e+08,3.001600e+10,-8.480000e+09
Issuance Of Stock,8.800000e+08,7.810000e+08,6.690000e+08,5.550000e+08
Net Income,5.741100e+10,5.525600e+10,5.953100e+10,4.835100e+10
Change In Cash,-1.043500e+10,2.431100e+10,5.624000e+09,-1.950000e+08
Repurchase Of Stock,-7.599200e+10,-6.971400e+10,-7.526500e+10,-3.477400e+10
Total Cash From Operating Activities,8.067400e+10,6.939100e+10,7.743400e+10,6.422500e+10
Depreciation,1.105600e+10,1.254700e+10,1.090300e+10,1.015700e+10
Other Cashflows From Investing Activities,-7.910000e+08,-1.078000e+09,-7.450000e+08,-1.240000e+08
Dividends Paid,-1.408100e+10,-1.411900e+10,-1.371200e+10,-1.276900e+10
Change To Inventory,-1.270000e+08,-2.890000e+08,8.280000e+08,-2.723000e+09
Change To Account Receivables,6.917000e+09,2.450000e+08,-5.322000e+09,-2.093000e+09
Other Cashflows From Financing Activities,-1.260000e+08,-1.050000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,6.517000e+09,5.076000e+09,-2.769400e+10,1.064000e+10
Capital Expenditures,-7.309000e+09,-1.049500e+10,-1.331300e+10,-1.245100e+10

In [45]:
# BROKEN
aapl.quarterly_cashflow

,2021-06-26,2021-03-27,2020-12-26,2020-09-26
Investments,5.747000e+09,-7.895000e+09,-5.279000e+09,7.468000e+09
Change To Liabilities,3.070000e+08,-2.336600e+10,2.301100e+10,7.157000e+09
Total Cashflows From Investing Activities,3.572000e+09,-1.036800e+10,-8.584000e+09,5.531000e+09
Total Cash From Financing Activities,-2.939600e+10,-1.132600e+10,-3.224900e+10,-2.135700e+10
Change To Operating Activities,-6.048000e+09,1.126500e+10,-5.761000e+09,-4.911000e+09
Net Income,2.174400e+10,2.363000e+10,2.875500e+10,1.267300e+10
Change In Cash,-4.730000e+09,2.287000e+09,-2.070000e+09,4.750000e+09
Repurchase Of Stock,-2.559500e+10,-1.884700e+10,-2.763600e+10,-1.758700e+10
Total Cash From Operating Activities,2.109400e+10,2.398100e+10,3.876300e+10,2.057600e+10
Depreciation,2.832000e+09,2.797000e+09,2.666000e+09,2.702000e+09
Other Cashflows From Investing Activities,-7.800000e+07,-2.040000e+08,2.040000e+08,-1.020000e+08
Dividends Paid,-3.767000e+09,-3.447000e+09,-3.613000e+09,-3.511000e+09
Change To Inventory,1.300000e+07,-2.760000e+08,-9.500000e+08,-1.370000e+08
Change To Account Receivables,1.031000e+09,8.598000e+09,-1.094500e+10,1.768000e+09
Other Cashflows From Financing Activities,-3.400000e+07,-1.600000e+07,-2.200000e+07,-6.000000e+06
Change To Netincome,1.215000e+09,1.333000e+09,1.987000e+09,1.324000e+09
Capital Expenditures,-2.093000e+09,-2.269000e+09,-3.500000e+09,-1.784000e+09
Net Borrowings,NaN,1.042300e+10,-9.780000e+08,-7.030000e+08
Issuance Of Stock,NaN,5.610000e+08,5.610000e+08,4.500000e+08

In [46]:
# show earnings BROKEN
aapl.earnings

           Revenue     Earnings
Year
2017  229234000000  48351000000
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000

In [47]:
# BROKEN
aapl.quarterly_earnings

              Revenue     Earnings
Quarter
3Q2020    64698000000  12673000000
4Q2020   111439000000  28755000000
1Q2021    89584000000  23630000000
2Q2021    81434000000  21744000000

In [48]:
# show sustainability BROKEN
aapl.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           7.99
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               53
governanceScore                       8.64
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.92
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           13.68
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.29
governancePercentile                  None
militaryContract                     False

In [49]:
# show analysts recommendations
aapl.recommendations

                                  Firm      To Grade    From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity           Buy                 main
2012-03-08 07:33:00     FBN Securities    Outperform                 main
2012-03-13 06:08:00          Jefferies           Buy                 main
2012-03-14 06:13:00     Morgan Stanley    Overweight                 main
2012-03-14 08:21:00  Canaccord Genuity           Buy                 main
...                                ...           ...           ...    ...
2021-07-28 14:04:02      Piper Sandler    Overweight                 main
2021-07-28 14:08:03      Deutsche Bank           Buy                 main
2021-07-28 14:20:34       Loop Capital           Buy                 main
2021-09-01 13:06:05     Wolfe Research  Peer Perform  Underperform     up
2021-09-09 13:49:40      Piper Sandler    Overweight                 main

[806 rows x 4 columns]

In [50]:
# show next event (earnings, etc)
aapl.calendar

                                    0                    1
Earnings Date     2021-10-27 10:59:00  2021-11-01 12:00:00
Earnings Average                 1.23                 1.23
Earnings Low                     1.05                 1.05
Earnings High                    1.34                 1.34
Revenue Average           84903200000          84903200000
Revenue Low               77654100000          77654100000
Revenue High              90905000000          90905000000

In [51]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
aapl.isin

'US0378331005'

In [52]:
# show options expirations
aapl.options

('2021-09-17',
 '2021-09-24',
 '2021-10-01',
 '2021-10-08',
 '2021-10-15',
 '2021-10-22',
 '2021-10-29',
 '2021-11-19',
 '2021-12-17',
 '2022-01-21',
 '2022-03-18',
 '2022-04-14',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15')

In [53]:
# get option chain for specific expiration
opt = aapl.option_chain()
opt

Options(calls=          contractSymbol       lastTradeDate   strike  lastPrice     bid  \
0    AAPL210917C00027500 2021-09-16 19:55:00    27.50     121.25  121.20
1    AAPL210917C00028750 2021-09-14 13:48:14    28.75     121.75  119.95
2    AAPL210917C00030000 2021-09-15 13:31:56    30.00     118.70  118.70
3    AAPL210917C00031250 2021-09-14 16:09:47    31.25     118.75  117.45
4    AAPL210917C00032500 2021-08-30 13:33:58    32.50     116.46  116.20
..                   ...                 ...      ...        ...     ...
133  AAPL210917C00720000 2020-08-28 19:25:09   720.00      26.60   25.80
134  AAPL210917C00740000 2020-08-28 15:33:47   740.00      24.50   23.55
135  AAPL210917C00800000 2020-08-28 19:17:58   800.00      19.11   18.30
136  AAPL210917C00900000 2020-08-27 15:03:20   900.00      13.13   12.85
137  AAPL210917C01000000 2020-08-28 19:58:31  1000.00      10.20   10.00

        ask    change  percentChange  volume  openInterest  impliedVolatility  \
0    121.45  0.250000       0.206612       1          49.0          11.750003
1    120.20  0.000000       0.000000       6          16.0          11.437503
2    118.95  0.000000       0.000000       1          31.0          11.187503
3    117.70  0.000000       0.000000       6          24.0          10.875003
4    116.40  0.000000       0.000000      20          46.0           9.500004
..      ...       ...            ...     ...           ...                ...
133   26.70 -0.449999      -1.663582      11         110.0          27.036134
134   24.40 -0.500000      -2.000000       2           NaN          26.465822
135   19.10 -0.289999      -1.494840      43           6.0          25.152346
136   13.60 -0.570000      -4.160582      25           5.0          23.818362
137   10.40 -0.250000      -2.392345      65           NaN          23.181643

     inTheMoney contractSize currency
0          True      REGULAR      USD
1          True      REGULAR      USD
2          True      REGULAR      USD
3          True      REGULAR      USD
4          True      REGULAR      USD
..          ...          ...      ...
133       False      REGULAR      USD
134       False      REGULAR      USD
135       False      REGULAR      USD
136       False      REGULAR      USD
137       False      REGULAR      USD

[138 rows x 14 columns], puts=          contractSymbol       lastTradeDate  strike  lastPrice     bid  \
0    AAPL210917P00027500 2021-09-16 15:09:23   27.50       0.01    0.00
1    AAPL210917P00028750 2021-08-25 21:34:45   28.75       0.01    0.00
2    AAPL210917P00030000 2021-08-25 21:34:46   30.00       0.01    0.01
3    AAPL210917P00031250 2021-08-25 21:34:46   31.25       0.01    0.00
4    AAPL210917P00032500 2021-08-20 14:39:17   32.50       0.01    0.00
..                   ...                 ...     ...        ...     ...
126  AAPL210917P00560000 2020-08-28 19:40:53  560.00     116.00  118.50
127  AAPL210917P00580000 2020-08-25 13:59:05  580.00     133.25  132.60
128  AAPL210917P00600000 2020-08-25 17:44:08  600.00     146.15  147.40
129  AAPL210917P00640000 2020-08-27 16:29:02  640.00     177.33  178.30
130  AAPL210917P00700000 2020-08-28 14:57:19  700.00     227.82  228.40

        ask     change  percentChange  volume  openInterest  \
0      0.01   0.000000       0.000000    10.0          2610
1      0.01   0.000000       0.000000    10.0           393
2      0.01   0.000000       0.000000    60.0           317
3      0.01   0.000000       0.000000    20.0           410
4      0.01   0.000000       0.000000     2.0           244
..      ...        ...            ...     ...           ...
126  120.00 -47.800003     -29.181930     2.0             1
127  134.15   0.000000       0.000000     NaN             2
128  149.00  -1.650009      -1.116380    10.0           121
129  180.25   0.000000       0.000000     1.0             0
130  230.60  -0.069992      -0.030713    43.0            67

     impliedVolatility  inTheMoney contractSize currency
0            10.000004       False      REGULAR      USD
1             9.750004       False      REGULAR      USD
2            10.000004       False      REGULAR      USD
3             9.250004       False      REGULAR      USD
4             9.000004       False      REGULAR      USD
..                 ...         ...          ...      ...
126           0.000010        True      REGULAR      USD
127           0.000010        True      REGULAR      USD
128           0.000010        True      REGULAR      USD
129           0.000010        True      REGULAR      USD
130           0.000010        True      REGULAR      USD

[131 rows x 14 columns])