In [ ]:
#pulled from
#https://github.com/GregBland/yfinance_article/blob/master/example_code.ipynb
import yfinance as yf
import matplotlib.pyplot as plt

import datetime as dt
import datetime

apple = yf.Ticker("aapl")

# show actions (dividends, splits)
apple.actions

# show dividends
apple.dividends

# show splits
apple.splits

In [ ]:
import yfinance as yf

aapl = yf.Ticker("aapl")
aapl

In [ ]:
import yfinance as yf

aapl = yf.Ticker("aapl")

# get stock info
aapl_historical = aapl.history(start="2020-06-02", end="2020-06-07", interval="1d")
aapl_historical

In [ ]:
tickers = yf.Tickers('msft aapl goog')

In [ ]:
tickers

In [ ]:
# TICKERS OBJECT IS BROKEN
#tickers.MSFT.info

In [ ]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30", group_by = 'column')
data

In [ ]:
aapl = yf.Ticker("aapl") 
aapl.info

In [ ]:
aapl = yf.Ticker("aapl")
aapl.info['forwardPE']

In [ ]:
aapl.info['dividendRate']

In [ ]:
aapl.dividends

In [ ]:
aapl.financials

In [ ]:
aapl.earnings

In [ ]:
aapl.quarterly_earnings

In [ ]:
aapl.cashflow

In [ ]:
aapl.balance_sheet

In [ ]:
import pandas as pd

tickers_list = ["aapl", "goog", "amzn", "BAC", "BA"] # example list
tickers_data = {} # empty dictionary

In [ ]:
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

In [ ]:
# combine all the info dataframes for each ticker into a single data frame
combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

In [ ]:
del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

combined_data

In [ ]:
employees = combined_data[combined_data["Attribute"]=="fullTimeEmployees"].reset_index()
del employees["index"] # clean up unnecessary column

employees

In [ ]:
employees_sorted = employees.sort_values('Recent',ascending=False)
employees_sorted

In [ ]:
aapl.info["marketCap"]

In [ ]:
aapl.info["volume"]

In [ ]:
aapl.info["averageVolume"]

In [ ]:
aapl.info["averageVolume10days"]

In [ ]:
aapl_historical = aapl.history(period="max", interval="1wk")
aapl_historical

In [ ]:
aapl.info["fiftyTwoWeekHigh"]

In [ ]:
aapl.options

In [ ]:
# get option chain calls data for specific expiration date
opt = aapl.option_chain(date=aapl.options[-1])
opt.calls

In [ ]:
opt.puts

In [ ]:
opt

In [ ]:
#### OTHER METHODS NOT USED IN ARTICLE ####

In [ ]:
# show actions (dividends, splits)
aapl.actions

In [ ]:
# show splits
aapl.splits

In [ ]:
aapl.financials

In [ ]:
# show financials BROKEN
CAGR = ((aapl.financials.loc['Total Revenue'][3]/aapl.financials.loc['Total Revenue'][0])**(1/4)-1)*100
EPS =  aapl.financials.loc['Net Income']/aapl.balance_sheet.loc['Common Stock']

-4.406527456139986

In [ ]:

start_date = dt.datetime.strptime(EPS.index[3].strftime('%Y-%m-%d'), "%Y-%m-%d").date()
end_date   = dt.datetime.strptime(EPS.index[0].strftime('%Y-%m-%d'), "%Y-%m-%d").date()

dates_ = [ start_date + datetime.timedelta(n) for n in range(int ((end_date - start_date).days))]

In [ ]:
#pd.to_datetime(data.index)

'2020-09-26T00:00:00'

'2017-09-25'

In [260]:
data = yf.download("AAPL", start=(EPS.index[3]-datetime.timedelta(15)).strftime('%Y-%m-%d'), end=(EPS.index[0]+datetime.timedelta(5)).strftime('%Y-%m-%d'), group_by = 'column')

[*********************100%***********************]  1 of 1 completed

In [261]:
newdata = data.reindex(dates_)
newdata.index = pd.to_datetime(dates_)
#data.interpolate(method='time')
newdata = newdata.interpolate(method='time')
newdata = newdata.fillna(method='bfill',axis=0)

date_ = []
for i in range(0,len(newdata.index)):
    date_.append(newdata.index[i].isoformat())
    
newdata.index = date_

In [262]:
newdata.index

Index(['2017-09-30T00:00:00', '2017-10-01T00:00:00', '2017-10-02T00:00:00',
       '2017-10-03T00:00:00', '2017-10-04T00:00:00', '2017-10-05T00:00:00',
       '2017-10-06T00:00:00', '2017-10-07T00:00:00', '2017-10-08T00:00:00',
       '2017-10-09T00:00:00',
       ...
       '2020-09-16T00:00:00', '2020-09-17T00:00:00', '2020-09-18T00:00:00',
       '2020-09-19T00:00:00', '2020-09-20T00:00:00', '2020-09-21T00:00:00',
       '2020-09-22T00:00:00', '2020-09-23T00:00:00', '2020-09-24T00:00:00',
       '2020-09-25T00:00:00'],
      dtype='object', length=1092)

In [276]:
start_ = dt.datetime.strptime(EPS.index[3].strftime('%Y-%m-%d'), "%Y-%m-%d").isoformat()
y1 = dt.datetime.strptime(EPS.index[2].strftime('%Y-%m-%d'), "%Y-%m-%d").isoformat()
y2 = dt.datetime.strptime(EPS.index[1].strftime('%Y-%m-%d'), "%Y-%m-%d").isoformat()
end_ = dt.datetime.strptime(EPS.index[0].strftime('%Y-%m-%d'), "%Y-%m-%d").isoformat()

In [283]:
prices_ = [newdata.loc[start_:].iloc[0]['Adj Close'],newdata.loc[:y1].iloc[-1]['Adj Close'],newdata.loc[:y2].iloc[-1]['Adj Close'],newdata.loc[:end_].iloc[-1]['Adj Close']]

In [286]:
P_E = EPS/prices_

In [293]:

print("P/E")
plt.plot(P_E)
plt.xticks(rotation = 60)
plt.show()
      
print("CAGR")
print(CAGR)

SyntaxError: invalid syntax (Temp/ipykernel_10632/4164258588.py, line 3)

,Open,High,Low,Close,Adj Close,Volume
2017-09-30T00:00:00,38.564999,38.612499,38.180000,38.452499,36.698429,74795200.0
2017-10-01T00:00:00,38.564999,38.612499,38.180000,38.452499,36.698429,74795200.0
2017-10-02T00:00:00,38.564999,38.612499,38.180000,38.452499,36.698429,74795200.0
2017-10-03T00:00:00,38.502499,38.772499,38.477501,38.619999,36.858295,64921200.0
2017-10-04T00:00:00,38.407501,38.465000,38.115002,38.369999,36.619701,80655200.0
...,...,...,...,...,...,...
2020-09-21T00:00:00,104.540001,110.190002,103.099998,110.080002,109.376511,195713800.0
2020-09-22T00:00:00,112.680000,112.860001,109.160004,111.809998,111.095444,183055400.0
2020-09-23T00:00:00,111.620003,112.110001,106.769997,107.120003,106.435432,150718700.0
2020-09-24T00:00:00,105.169998,110.250000,105.000000,108.220001,107.528404,167743300.0
2020-09-25T00:00:00,108.430000,112.440002,107.669998,112.279999,111.562439,149981400.0

In [ ]:
newdata.loc[dt.datetime.strptime(EPS.index[0].strftime('%Y-%m-%d'), "%Y-%m-%d").date()]

In [ ]:
for e in EPS.index:
    d_ = e.strftime('%Y-%m-%d')
    print(newdata.iloc[d_])
    #print(aapl.history(start=EPS.index[0].strftime('%Y-%m-%d'), end=EPS.index[3].strftime('%Y-%m-%d'), interval="1d",auto_adjust=True))

In [ ]:
aapl.history(start="2020-06-02", end="2020-06-07", interval="1d",auto_adjust=True)

In [ ]:
aapl.quarterly_financials

In [ ]:
# show quarterly_financials BROKEN
aapl.quarterly_financials

In [ ]:
# show major holders 
aapl.major_holders

In [ ]:
# show institutional holders
aapl.institutional_holders

In [ ]:
# show balance sheet BROKEN
aapl.balance_sheet

In [ ]:
# BROKEN
aapl.quarterly_balance_sheet

In [ ]:
# show cashflow BROKEN
aapl.cashflow

In [ ]:
# BROKEN
aapl.quarterly_cashflow

In [ ]:
# show earnings BROKEN
aapl.earnings

In [ ]:
# BROKEN
aapl.quarterly_earnings

In [ ]:
# show sustainability BROKEN
aapl.sustainability

In [ ]:
# show analysts recommendations
aapl.recommendations

In [ ]:
# show next event (earnings, etc)
aapl.calendar

In [ ]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
aapl.isin

In [ ]:
# show options expirations
aapl.options

In [ ]:
# get option chain for specific expiration
opt = aapl.option_chain()
opt