In [1]:
import datetime as dt
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data = pd.read_html(url)

In [3]:
sp500 = data[0].iloc[:, [0,1,6,7]]
sp500.columns = ['ticker', 'name', 'date' , 'cik']

# Get rows where date is missing or not formatted correctly.
mask = sp500['date'].str.strip().str.fullmatch('\d{4}-\d{2}-\d{2}')
mask.loc[mask.isnull()] = False
mask = mask == False
sp500[mask].head()

    ticker        name                     date      cik
29     AMD         AMD                      NaN     2488
51       T        AT&T  1983-11-30 (1957-03-04)   732717
126     ED  Con Edison                      NaN  1047862
131    GLW     Corning                      NaN    24741
140    DHR     Danaher                      NaN   313616

In [4]:
current = sp500.copy()
current.loc[mask, 'date'] = '1900-01-01'
current.loc[:, 'date'] = pd.to_datetime(current['date'])
current.loc[:, 'cik'] = current['cik'].apply(str).str.zfill(10)

In [5]:
# Get the adjustments dataframe and rename columns
adjustments = data[1]
columns = ['date', 'ticker_added','name_added', 'ticker_removed', 'name_removed', 'reason']
adjustments.columns = columns

# Create additions dataframe.
additions = adjustments[~adjustments['ticker_added'].isnull()][['date','ticker_added', 'name_added']]
additions.columns = ['date','ticker','name']
additions['action'] = 'added'

# Create removals dataframe.
removals = adjustments[~adjustments['ticker_removed'].isnull()][['date','ticker_removed','name_removed']]
removals.columns = ['date','ticker','name']
removals['action'] = 'removed'

# Merge the additions and removals into one dataframe.
historical = pd.concat([additions, removals])
historical.head()

                date ticker                  name action
0      April 4, 2022    CPT                Camden  added
1      March 2, 2022    MOH     Molina Healthcare  added
2  February 15, 2022   NDSN               Nordson  added
4   February 2, 2022    CEG  Constellation Energy  added
5  December 20, 2021   SBNY        Signature Bank  added

In [10]:
"""
missing = current[~current['ticker'].isin(historical['ticker'])].copy()
missing['action'] = 'added'
missing = missing[['date','ticker','name','action', 'cik']]
missing.loc[:, 'cik'] = current['cik'].apply(str).str.zfill(10)
missing.head()
"""

"\nmissing = current[~current['ticker'].isin(historical['ticker'])].copy()\nmissing['action'] = 'added'\nmissing = missing[['date','ticker','name','action', 'cik']]\nmissing.loc[:, 'cik'] = current['cik'].apply(str).str.zfill(10)\nmissing.head()\n"

In [11]:
#sp500_history = pd.concat([historical, missing])
sp500_history = historical
sp500_history = sp500_history.sort_values(by=['date','ticker'], ascending=[False, True])
sp500_history = sp500_history.drop_duplicates(subset=['date','ticker'])
sp500_history

                  date ticker                    name   action
121  September 8, 2016   CHTR  Charter Communications    added
121  September 8, 2016    EMC         EMC Corporation  removed
122  September 6, 2016    MTD          Mettler Toledo    added
122  September 6, 2016    TYC      Tyco International  removed
217  September 5, 2012    LYB          LyondellBasell    added
..                 ...    ...                     ...      ...
134     April 18, 2016   ULTA             Ulta Beauty    added
42       April 1, 2020   ARNC                 Arconic  removed
42       April 1, 2020    HWM        Howmet Aerospace    added
241      April 1, 2011    BLK               BlackRock    added
241      April 1, 2011   GENZ                 Genzyme  removed

[577 rows x 4 columns]

In [12]:
starting = list(sp500['ticker'].values)

In [13]:
sp500_history

                  date ticker                    name   action
121  September 8, 2016   CHTR  Charter Communications    added
121  September 8, 2016    EMC         EMC Corporation  removed
122  September 6, 2016    MTD          Mettler Toledo    added
122  September 6, 2016    TYC      Tyco International  removed
217  September 5, 2012    LYB          LyondellBasell    added
..                 ...    ...                     ...      ...
134     April 18, 2016   ULTA             Ulta Beauty    added
42       April 1, 2020   ARNC                 Arconic  removed
42       April 1, 2020    HWM        Howmet Aerospace    added
241      April 1, 2011    BLK               BlackRock    added
241      April 1, 2011   GENZ                 Genzyme  removed

[577 rows x 4 columns]

In [14]:
type(sp500_history[['date']].values[-1][0])

str

In [15]:
def format_date(x):
    if(type(x)==pd._libs.tslibs.timestamps.Timestamp):
        return(x.strftime('%Y-%m-%d'))
    else:
        return(datetime.strptime(x, '%B %d, %Y'))
    #return datetime.strptime(x, '%B %d, %Y')

#sp500_history['date'].transform(format_date)

sp500_history_sorted = sp500_history.set_index(sp500_history['date'].transform(format_date)).sort_index(ascending=False)

In [16]:
sp500_history_sorted

                         date ticker                           name   action
date
2022-04-04      April 4, 2022    CPT                         Camden    added
2022-04-04      April 4, 2022   PBCT      People's United Financial  removed
2022-03-02      March 2, 2022    MOH              Molina Healthcare    added
2022-03-02      March 2, 2022   INFO                     IHS Markit  removed
2022-02-15  February 15, 2022   NDSN                        Nordson    added
...                       ...    ...                            ...      ...
2000-06-07       June 7, 2000   SBUX                      Starbucks    added
1999-12-07   December 7, 1999   YHOO                         Yahoo!    added
1999-12-07   December 7, 1999    LDW                        Laidlaw  removed
1997-06-17      June 17, 1997    CCI  Countrywide Credit Industries    added
1997-06-17      June 17, 1997    USL                         USLife  removed

[577 rows x 4 columns]

In [17]:
sp500_history_sorted['ticker'][0]

'CPT'

In [18]:
starting = list(sp500['ticker'].values)

In [19]:
sp500_history_sorted

                         date ticker                           name   action
date
2022-04-04      April 4, 2022    CPT                         Camden    added
2022-04-04      April 4, 2022   PBCT      People's United Financial  removed
2022-03-02      March 2, 2022    MOH              Molina Healthcare    added
2022-03-02      March 2, 2022   INFO                     IHS Markit  removed
2022-02-15  February 15, 2022   NDSN                        Nordson    added
...                       ...    ...                            ...      ...
2000-06-07       June 7, 2000   SBUX                      Starbucks    added
1999-12-07   December 7, 1999   YHOO                         Yahoo!    added
1999-12-07   December 7, 1999    LDW                        Laidlaw  removed
1997-06-17      June 17, 1997    CCI  Countrywide Credit Industries    added
1997-06-17      June 17, 1997    USL                         USLife  removed

[577 rows x 4 columns]

In [22]:
starting

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'AIG',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ANET',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BF.B',
 'CHRW',
 'CDNS',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CERN',
 'CF',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ETR',
 'EOG',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'AJG',
 'GRMN',
 'IT',
 'GE',
 'GD',
 'GIS',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GM',
 'GS',
 'GWW',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HII',
 'HBAN',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'FB',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MHK',
 'TAP',
 'MDLZ',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'V',
 'VNO',
 'VMC',
 'WAB',
 'WMT',
 'WBA',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS',
 'P',
 'B',
 'C',
 'T',
 'I',
 'N',
 'F',
 'O',
 'X',
 'L',
 'N',
 'X',
 'G',
 'P',
 'S',
 'L',
 'E',
 'G',
 'H',
 'B',
 'I',
 'W',
 'U',
 'K',
 'S',
 'U',
 'U',
 'N',
 'M',
 'P',
 'R',
 'G',
 'O',
 'N',
 'O',
 'V',
 'M',
 'X',
 'I',
 'M',
 'A',
 'L',
 'X',
 'N',
 'H',
 'F',
 'C',
 'F',
 'L',
 'I',
 'R',
 'V',
 'A',
 'R',
 'F',
 'L',
 'S',
 'S',
 'L',
 'G',
 'V',
 'N',
 'T',
 'X',
 'R',
 'X',
 'F',
 'T',
 'I',
 'C',
 'X',
 'O',
 'T',
 'I',
 'F',
 'A',
 'I',
 'V',
 'N',
 'B',
 'L']

In [26]:
np.sort(list(sp500['ticker'].values))

array(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN',
       'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL',
       'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE',
       'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET',
       'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE',
       'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA',
       'BAC', 'BALL', 'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF.B', 'BIIB',
       'BIO', 'BK', 'BKNG', 'BKR', 'BLK', 'BMY', 'BR', 'BRK.B', 'BRO',
       'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB',
       'CBOE', 'CBRE', 'CCI', 'CCL', 'CDAY', 'CDNS', 'CDW', 'CE', 'CEG',
       'CERN', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL',
       'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP',
       'COF', 'COO', 'COP', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM',
       'CSCO', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CTXS',
       'CVS', 'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX',
       'DHI', 'DHR', 'DIS', 'DISH', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ',
       'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DXC', 'DXCM', 'EA',
       'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'ENPH',
       'EOG', 'EPAM', 'EQIX', 'EQR', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY',
       'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST',
       'FB', 'FBHS', 'FCX', 'FDS', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV',
       'FITB', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRC', 'FRT', 'FTNT', 'FTV',
       'GD', 'GE', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG',
       'GOOGL', 'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN',
       'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE',
       'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE',
       'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU', 'IP', 'IPG',
       'IPGP', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J',
       'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KEY', 'KEYS',
       'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'L', 'LDOS',
       'LEN', 'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT',
       'LOW', 'LRCX', 'LUMN', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA',
       'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT',
       'MET', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST',
       'MO', 'MOH', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRNA', 'MRO', 'MS',
       'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH', 'MTD', 'MU', 'NCLH', 'NDAQ',
       'NDSN', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NLOK', 'NLSN', 'NOC',
       'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWL',
       'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OGN', 'OKE', 'OMC', 'ORCL',
       'ORLY', 'OTIS', 'OXY', 'PARA', 'PAYC', 'PAYX', 'PCAR', 'PEAK',
       'PEG', 'PENN', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM',
       'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'POOL', 'PPG',
       'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PVH', 'PWR', 'PXD', 'PYPL',
       'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RJF',
       'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'SBAC',
       'SBNY', 'SBUX', 'SCHW', 'SEDG', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB',
       'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STT', 'STX',
       'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG',
       'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO',
       'TMUS', 'TPR', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT',
       'TTWO', 'TWTR', 'TXN', 'TXT', 'TYL', 'UA', 'UAA', 'UAL', 'UDR',
       'UHS', 'ULTA', 'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC',
       'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ',
       'WAB', 'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR',
       'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN',
       'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS'],
      dtype='<U5')

In [24]:
#np.where(np.array(list(sp500['ticker'].values))=='Q')

(array([], dtype=int64),)

(array([], dtype=int64),)

In [31]:
starting = list(sp500['ticker'].values)

#missing Q

for d in (np.unique(sp500_history_sorted.index)[::-1]):
    #print(d)
    d_subset = sp500_history_sorted.loc[[d]].sort_values(by='action',ascending=True)
    print(d_subset)
    for d_ in range(0,len(d_subset)):
        d_data = d_subset.iloc[[d_]]

        ticker = d_data['ticker'][0]
        print(ticker)
        #print(starting)
        if(d_data['action'][0]=='added'):
            #print("removing",ticker)
            remove = np.where(np.array(starting)==ticker)
            if(len(remove)==0):
                pass
            else:
                starting.pop(remove[0][0])
            
        else:
            #print(starting)
            #print("adding", ticker)
            starting.extend([ticker])
    print(len(starting))
    #print(starting)
sp500['ticker'].values

SyntaxError: invalid syntax (Temp/ipykernel_21704/1514624180.py, line 19)